
/***  Dog Friendly Camping CSS ***/
/***  Chris Williams -2022     ***/

/**override bootstrap nav bar  **/
.mb-4 {
  margin-bottom: 0px !important;
}



/** override boostrap button **/
.btn-primary {
  margin-top:1rem;
  --bs-btn-color: #fff;
  --bs-btn-bg: #2C4653;
  --bs-btn-border-color: #2C4653;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #E19032;
  --bs-btn-hover-border-color:#E19032;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0a58ca;
  --bs-btn-active-border-color: #0a53be;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0d6efd;
  --bs-btn-disabled-border-color: #0d6efd;
}

/**override navbar **/
.text-bg-dark {
  background-color: #8E9AA3!important;
}

/**override position of nav and search text **/
.me-lg-auto {
  margin-right:auto!important;
}


#logo-banner {
  background-color:#8E9AA3;
  margin-top: 0px;
   
  
}
.dfc-logo {
  display: block; 
  margin-left:0px auto;
  margin-right:0px auto;
  position:relative;
    
  } 
  
.login-panel {
  max-width:420px;
  margin: 0 auto 1.5rem;
  border-radius:8px;
  padding:1rem 6rem;
  
} 
.nav-link{
  font-family:'Poppins',sans-serif;
  letter-spacing:0.1rem;
  color:#fff;
  }
.nav-link:hover {
  font-size:larger;
  text-decoration: underline 3px ;
  color:#fff;

}
/**background header image credit: Fireship - adapted form https://www.youtube.com/watch?v=lPJVi797Uy0 **/
  .spacer {
    aspect-ratio: 1200/100;
    width:100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom:8rem;
    
  }

 .layer1 {
   background-image: url('/static/images/layered-peaks-haikei-3.svg');

 } 
/*** end credit  **/
.flash-messages {
  color:#2C4653;
  text-align: center;
  }

.search-padding{
  padding-top:0.2rem;
  
}  

.btn-homepage {
  padding:10px;
}

header {
  background-color: #2C4653;
  border-color:#2C4653;;
}


/* 
CSS original source adapted from: 
Template Name: Yummy
Template URL: https://bootstrapmade.com/yummy-bootstrap-restaurant-website-template/
Author: BootstrapMade.com
License: https://bootstrapmade.com/license/   **/

/*# Venues Section
--------------------------------------------------------------*/
.venues .venue-member {
  overflow: hidden;
  text-align: center;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0 30px rgba(55, 55, 63, 0.08);
  transition: 0.3s;
}

.venues .venue-member .member-img {
  position: relative;
  overflow: hidden;
}

.venues .venue-member .member-img:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: url(../img/team-shape.svg) no-repeat center bottom;
  background-size: contain;
  z-index: 1;
}

.venues .venue-member .social {
  position: absolute;
  right: -100%;
  top: 30px;
  opacity: 0;
  border-radius: 4px;
  transition: 0.5s;
  background: rgba(255, 255, 255, 0.3);
  z-index: 2;
}

.venues .venue-member .social a {
  transition: color 0.3s;
  color: rgba(55, 55, 63, 0.4);
  margin: 15px 12px;
  display: block;
  line-height: 0;
  text-align: center;
}

.venues .venue-member .social a:hover {
  color: rgba(55, 55, 63, 0.9);
}

.venues .venue-member .social i {
  font-size: 18px;
}

.venues .venue-member .member-info {
  padding: 10px 15px 20px 15px;
}

.venues .venue-member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;
  color: var(--color-secondary);
}

.venues .venue-member .member-info span {
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: rgba(33, 37, 41, 0.4);
}

.venues .venue-member .member-info p {
  font-style: italic;
  font-size: 14px;
  padding-top: 15px;
  line-height: 26px;
  color: rgba(33, 37, 41, 0.7);
}

.venues .venue-member:hover {
  transform: scale(1.08);
  box-shadow: 0px 0 30px rgba(55, 55, 63, 0.15);
}

.venues .venue-member:hover .social {
  right: 8px;
  opacity: 1;
}
