{% extends "base.html" %}
{% block content %}


<body class="bg-light">

  <div class="container">    
      <div class="col-md-8 order-md-1">
        <h4 class="mb-3">Edit Venue Information</h4>
        <form class="needs-validation" method="POST" action="" novalidate>
          <div class="row">
            <div class="mb-3">
              <label for="venuename">Venue Name<span class="text-muted">(Required)</span></label>
              <input type="text" class="form-control" id="venuename" name="venuename" placeholder="" value="{{ venue.venue_name }}" required>
              <div class="invalid-feedback">
                 is required.
              </div>
            </div>
            <div class="mb-3">
              <label for="venuetype">Select Type<span class="text-muted">(Required)</span></label>
              <select id="venuetype" name="venuetype" class="custom-select d-block w-100"   required>
                <option value="" disabled>Choose...</option> 
                {% for venue in venueType %}
                    {% if venue.venue_type == venue.venueType %}                                          <!-- unsure here need to revisit not sure which bit is being compared  -->
                        <option value ="{{ venue.venue_type}}" selected>{{ venue.venuetype}}</option>
                    {% else %}
                       <option value="{{ venue.venue_type }}">{{ venue.venue_type }}</option>
                    {% endif %}
                {% endfor %}
              </select>
              <div class="invalid-feedback">
                Please select a valid venue.
              </div>
            </div>
            <div class="mb-3">
            <label for="location">Location:<span class="text-muted">(Required)</span></label>
            <input type="text" class="form-control" id="location" name="location" placeholder="" value="{{ venue.location }}" required>
            {{ venue.location }}
            <div class="invalid-feedback">
              Please add a location.
            </div>
          </div>

          <div class="mb-3">
            <label for="datevisited">Date Visited:<span class="text-muted">(Required)</span></label>
            <input type="text" class="form-control" id="datevisited" name="datevisited" placeholder="" value="{{ venue.date_visited }}" required>
            <div class="invalid-feedback">
              Please enter when you visited.
            </div>
          </div>

          <div class="mb-3">
            <label for="description">Describe the Venue<span class="text-muted">(Required)</span></label>
            <textarea class="form-control" id="description" name="description" rows="4" cols="50" placeholder="Apartment or suite" required>
              {{- venue.description -}}
            </textarea>
            <div class="invalid-feedback">
              Please give a description of the venue.
            </div>
          
          </div>
          <div class="mb-3">
            <label for="dog_specific_features">What made it great for Dogs?<span class="text-muted">(Optional)</span></label>
            <input type="text" class="form-control" id="dog_specific_features" name="dog_specific_features" placeholder="for example - Did it have a seperate dog walking area ?" value="{{ venue.dog_specific_features}}" >
          </div>
          <div class="mb-3">
            <label for="tags">Add Tags that will help people when searching<span class="text-muted">(Optional)</span></label>
            <input type="text" class="form-control" id="tags" name="tags" placeholder="#Dog Walking Area #Off Lead Area #Dog Shower" value="{{ venue.tags}}">
            <div class="invalid-feedback">
              Please add at least 1 tag to help people when searching.
            </div>
          </div>
          <div class="mb-3">
            <label for="image_url">Image URL<span class="text-muted">(Optional)</span></label>
            <input type="text" class="form-control" id="image_url" name="image_url" placeholder="please include the full address including http:// or https://" value="{{ venue.venue_image_url}}">
            <div class="invalid-feedback">
              image url incorrect format.
            </div>
          </div>
            <hr class="mb-4">
          <button class="btn btn-primary btn-lg btn-block" type="submit">Save Changes</button>
        </form>
      </div>
    </div>
    

    <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">&copy; 2017-2018 Company Name</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Privacy</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Support</a></li>
      </ul>
    </footer>
  </div>

{% endblock %}