{% extends "base.html" %}
{% block content %}

  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="/static/images/dogcamping.jpg" class="d-block mx-lg-auto img-fluid" alt="2 dogs in a tent" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Dog Friendly Camping</h1>
      <p class="lead">Find places in the great outdoors, to camp with friends, family and that special member of your house your Dog(s) We have a variety of sites pub stopovers, wild camping locations, and of course campsites. All added by you our fantastics users of the site.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="{{ url_for('list_venues') }}"><button type="button" class="btn btn-primary btn-lg px-4 me-md-2" >Start your Adventure</button></a>
       </div>
    </div>
  </div>

{% endblock %}