{% extends "base.html" %}
{% block content %}


<body class="bg-light">

  <div class="container">
    <div class="py-5 text-center">
      <h1 class="display-5 fw-bold lh-1 mb-3"> {{ username }} - user profile  </h1>
      <p></p>
      <p class="lead">Below you will find all of the venues you have contributed to the site you can edit or delete them</p>             
        <section id="venues" class="venues section-bg">
          <div class="container aos-init aos-animate" data-aos="fade-up">
            <div class="section-header">             
              <p></p>
              </div>
              <div class="row gy-4">
                <!--adding venues listed by a user with edit and delete options -->-->
               {% for venue in venues %}                                                                      
               {% if session.user|lower == venue.added_by|lower %}             
                  <div class="col-lg-4 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                  <div class="venue-member">
                    <div class="member-img">
                      {% if venue.venue_image_url|length > 0 %}                                         
                        <img src="{{ venue.venue_image_url }}" class="img-fluid" alt="">
                      {% else %}
                        <img src="/static/images/venueimageplaceholder2.fw.png" class="img-fluid" alt="">
                      {% endif %}
                   <div class="social"> <a href=""><i class="bi bi-twitter"></i></a> <a href=""><i class="bi bi-facebook"></i></a> <a href=""><i class="bi bi-instagram"></i></a> <a href=""><i class="bi bi-linkedin"></i></a></div>
                    </div>
                    <div class="member-info"><h4>{{ venue.venue_name }}</h4> <span>{{ venue.venue_type }}</span>
                      <p>{{ venue.description }}</p>
                      <p>Dog Specific Features: {{ venue.dog_specific_features }}</p>
                      <p>Date Visited: {{ venue.date_visited }}</p>
                      <a href="{{ url_for('edit_venue', venue_id=venue._id) }}" class="btn btn-primary">Edit</a>
                      <td><button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal-{{venue._id}}">Delete</button></td>
                    </div>
                  </div>
                </div>
  <!-- Confirm Deletion Modal -->

  <div id="modal-{{venue._id}}" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="deleteModalLabel">Confirm Delete</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete ? Please click delete to remove record 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Cancel</button>
          
          <a href="{{ url_for('delete_venue', venue_id=venue._id) }}" class="btn btn-danger">Delete</a></td>
          
        </div>
      </div>
    </div>
  </div>               
                       
        {% endif %}

      {%endfor%}  
     

{% endblock %}     